<html>
<head>
    <title>Register</title>
    <link href="~/Content/Main.css" rel="stylesheet" />
    <link href="~/Icon/fontawesome-free-6.6.0-web/css/all.css" rel="stylesheet" />
</head>
<body>
    <!-- HEADER -->
    <div class="header">
        <div class="logo">
            <img src="~/HinhAnh/logo.png" href="" />
        </div>
        <div class="text">
            <a href="">HOME</a>
            <a href="">MENU</a>
            <a href="">BOOK A TALBE</a>
            <a href="">ABOUT US</a>
            <a href="">CONTACT</a>
        </div>
        <div class="register">
            <a href="">REGISTER</a>
        </div>
    </div>
    <div class="heading">
        <p>REGISTER</p>
    </div>
    <div class="form">
        <div class="register-">
            <h2>Register</h2>
            <div class="input-group">
                <label for="username">
                    <i class="fa-solid fa-user"></i>
                    Tài khoản
                </label>
                <br />
                <input type="text" id="username" placeholder="Nhập tài khoản của bạn" />
            </div>
            <div class="input-group">
                <label for="password">
                    <i class="fa-solid fa-lock"></i>
                    Mật khẩu mới
                </label>
                <br />
                <input type="password" id="password" placeholder="Nhập mật khẩu mới của bạn">
            </div>
            <div class="input-group">
                <label for="confirm-password">
                    <i class="fa-solid fa-lock"></i>
                    Xác nhận mật khẩu
                </label>
                <br />
                <input type="password" id="confirm-password" placeholder="Xác nhận lại mật khẩu của bạn">
            </div>
            <!--Button Đăng ký-->
        </div>
        <button class="register-btn">Register</button>
        <p class="login-text">Already have an account? <a href="" style="text-decoration: none; color: #C5705D;">Login here</a></p>
    </div>
    
    <div class="contact">
        <div class="contact-left">
            <img src="~/HinhAnh/logo.png" />
            <h1>©Copyright 2024 KHAKHAU. All Rights Reserved</h1>
        </div>
        <div class="contact-right">
            <h1>CONTACT</h1>
            <h1>Street: D2 street, Ward 25, Binh Thanh District</h1>
            <h1>City: Ho Chi Minh</h1>
            <h1>State/Province/Area: Ho Chi Minh City</h1>
            <h1>Phone number:  (84-8) 3 512 6379/(84-8) 3 804 0955/(84-8) 3 804 0980</h1>
            <h1>Email: abcd@email.com</h1>
        </div>
    </div>
</body>
</html>