<html>
<head>
    <title>Trang Chủ</title>
    <link href="~/Content/Main.css" rel="stylesheet" />
</head>
<body>
    <!-- HEADER -->
    <div class="header">
        <div class="logo">
            <img src="~/HinhAnh/logo.png" href="" />
        </div>
        <div class="text">
            <a href="">HOME</a>
            <a href="">MENU</a>
            <a href="">BOOK A TALBE</a>
            <a href="~/Home/AboutUs">ABOUT US</a>
            <a href="">CONTACT</a>
        </div>
        <div class="register">
            <a href="">REGISTER</a>
        </div>
    </div>
    <!--CONTENT-->
    <div class="content">
        <img src="~/HinhAnh/Rectangle 1.png" href="" />
        <div class="overplay">
        </div>
        <div class="text-1">Welcome To Our Restaurant</div>
    </div>
    <div class="body">
        <div class="body-content">
            <p>"Good food is the foundation of genuine happiness."</p>
            <h2>Auguste Escoffier</h2>
        </div>
    </div>
    <div class="main">
        <img src="~/HinhAnh/Rectangle 3.png" />
    </div>
    <div class="footer">
        <div class="footer-left">
            <img src="~/HinhAnh/Rectangle 6.png" />
        </div>
        <div class="footer-right">
            <h3>BOOK A TABLE</h3>
            <h1>Phone: </h1>
            <h1>Person: </h1>
            <h1>Date: </h1>
            <h1>Time: </h1>
            <button>Book a talbe</button>
        </div>
    </div>
    <div class="contact">
        <div class="contact-left">
            <img src="~/HinhAnh/logo.png" />
            <h1>©Copyright 2024 KHAKHAU. All Rights Reserved</h1>
        </div>
        <div class="contact-right">
            <h1>CONTACT</h1>
            <h1>Street: D2 street, Ward 25, Binh Thanh District</h1>
            <h1>City: Ho Chi Minh</h1>
            <h1>State/Province/Area: Ho Chi Minh City</h1>
            <h1>Phone number:  (84-8) 3 512 6379/(84-8) 3 804 0955/(84-8) 3 804 0980</h1>
            <h1>Email: abcd@email.com</h1>
        </div>
    </div>
</body>
</html>